body {
    margin: 0 auto;
}

main {
    margin: 0 auto;
    max-width: 60em;
}

img {
    display: inline;
    max-width: 20em;
}

div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}

iframe {
    max-width: 28em;
    margin: 1em;
}
img, iframe {  height: auto;  width: 100%;}

section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    padding-left: 0.7em;
}

header,
footer {
    display: flex;
    padding: 2em;
    background-color: rgb(177, 255, 131);
    justify-content: center;
}
